<a class="scroll-top-arrow" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>

<!--slider sec strat-->
<section id="slider-sec" class="slider-sec parallax" style="background: url('/book-shop/img/banner1.2.jpg');">
</section>
<!--slider sec end-->

<!-- Contact Us Start -->
<section class="contact-sec" id="contact-sec">

    <div class="container">
        <div class="row justify-content-md-center">

            <div class="col-12 col-lg-6 contact-box text-center text-md-left wow slideInRight" data-wow-delay=".8s">
                <div class="c-box wow fadeInRight product-listing-products">
                    <h4 class="small-heading">Login</h4>
                    <!--<p class="small-text">Lorem ipsum is simply dummy text of the printing and typesetting industry. </p>-->
                    <form action="/book-shop/login" method="post">
                        <div class="contact-form" id="contact-form-data">
                            <div class="row my-form">
                                {{#if messages}}
                                <div class="col-12 col-md-12">
                                    <p class="text-danger">{{messages.error}}</p>
                                </div>
                                {{/if}}
                                <div class="col-12 col-md-12">
                                    <input type="text" class="form-control" id="username" name="username"
                                        placeholder="Username or email" required="required">
                                </div>
                                <div class="col-12 col-md-12">
                                    <input type="password" class="form-control" id="password" name="password"
                                        minlength="6" placeholder="Password" required="required">
                                </div>
                                <div class="col-12 col-md-12">
                                    <button class="btn green-color-yellow-gradient-btn user-contact contact_btn"
                                        type="submit">SUBMIT</button>
                                </div>
                            </div>
                            <br>
                            <div class="row my-form">
                                <div class="col-6 col-md-6">
                                    <a class="text-primary" href="/book-shop/forgotPassword">Forgot password?</a>
                                </div>
                                <br>
                                <div class="col-6 col-md-6">
                                    <a class="text-primary" href="/book-shop/register">Register?</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Us End -->