<a class="scroll-top-arrow" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>

<!--slider sec strat-->
<section id="slider-sec" class="slider-sec parallax" style="background: url('img/banner1.2.jpg');">
</section>
<!--slider sec end-->

<!-- Contact Us Start -->
<section class="contact-sec" id="contact-sec">

  <div class="container">
    <div class="row justify-content-md-center">

      <div class="col-12 col-lg-6 contact-box text-center text-md-left wow slideInRight" data-wow-delay=".8s">
        <div class="c-box wow fadeInRight product-listing-products">
          <h4 class="small-heading">{{notifTitle}}</h4>
          <!--<p class="small-text">Lorem ipsum is simply dummy text of the printing and typesetting industry. </p>-->
            <div class="contact-form" id="contact-form-data">
              <div class="row my-form">
                <div class="col-12 col-md-12">
                  <p class="form-control text-warning">{{notifText}}</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Us End -->