<a class="scroll-top-arrow" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>

<!--slider sec strat-->
<section id="slider-sec" class="slider-sec parallax" style="background: url('img/banner1.2.jpg');">
</section>
<!--slider sec end-->

<!-- Contact Us Start -->
<section class="contact-sec" id="contact-sec">

  <div class="container">
    <div class="row justify-content-md-center">

      <div class="col-12 col-lg-6 contact-box text-center text-md-left wow slideInRight" data-wow-delay=".8s">
        <div class="c-box wow fadeInRight product-listing-products">
          <h4 class="small-heading">Register</h4>
          <!--<p class="small-text">Lorem ipsum is simply dummy text of the printing and typesetting industry. </p>-->
          <form action="/book-shop/register" method="post">  
            <div class="contact-form" id="contact-form-data">
              <div class="row my-form">
                <div class="col-12 col-md-12">
                  <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                    required="required">
                </div>
                <div class="col-12 col-md-12">
                  <input type="password" class="form-control" id="password" name="password" minlength="8" placeholder="Passowrd"
                    required="required">
                </div>
                <div class="col-12 col-md-12">
                  <input type="password" class="form-control" id="password" name="password" minlength="8" placeholder="Retype"
                    required="required">
                </div>
                <div class="col-12">
                  <button class="btn green-color-yellow-gradient-btn user-contact contact_btn" type="submit">SUBMIT</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Us End -->