/*Custom Css*/

/*
...
...
*/
.center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: black;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }
  .image-upload>input {
    display: none;
  }
  .avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .my_icon {
    font-size: 100px;
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .badge { 
    padding-left: 9px !important;
    padding-right: 9px !important;
    -webkit-border-radius: 9px !important;
    -moz-border-radius: 9px !important;
    border-radius: 9px !important;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px !important;
      background: #ff0000 !important;
      color: #fff !important;
      padding: 0 5px !important;
      vertical-align: top !important;
      margin-left: -10px !important; 
  }